@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: Roboto, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

.hero,
.content,
.quote,
.signup,
.copyright {
  padding: 70px 120px 100px 200px;
}

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 4px 120px 20px 200px
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.navigation {
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb;
}

.navigation li {
  display: inline-block;
  padding: 0px 10px;
}

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

.hero-text {
  padding-right: 100px;
}

.hero-title {
  padding: 0px 60px 0px 0px;
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.hero-paragraph {
  padding: 0px 60px 0px 0px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-image {
  border: 1px white solid;
  background-color: darkgray;
  width: 700px;
  text-align: center;
  padding: 100px 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.hero button{
  margin-top: 10px;
  background-color: #3882f6;
  color: #f9faf8;
  border: none; 
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 5px;
}

.content {
  padding-top: 50px;
  padding-bottom: 100px;
}

.content-header {
  color: #1f2937;
  font-size: 34px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 40px;
}

.content-titles {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: #1f2937;  
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.title .image {
  width: 140px;
  height: 120px;
  border-radius: 6px;
  border: 3px solid #3882f6;
}

.title .text {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

.quote {
  background-color: #e5e7eb;
}

.quote .text {
  font-size: 36px;
  font-weight:100px;
  font-style: italic;
  color: #1f2937
}

.quote .author {
  padding-right: 60px;
  text-align: right;
  font-weight: bold;
  font-size: 28px;
}

.signup {
  border: 3px solid #3882f6;
  border-radius: 5px;
  background-color: #3882f6;
  margin: 70px 120px 80px 200px;
  padding: 10px;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}

.signup span {
  font-size: 24px;
  font-weight: bold;
}

.signup button {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  color: #f9faf8; 
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 5px;
  height: fit-content;
}

footer {
  background-color: #1f2937;
  align-items: center;
  padding: 20px 120px 20px 200px;
  color: #f9faf8;
  text-align: center;
}